* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 40px;
}

img {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

#input1,
#input2 {
    border-radius: 20px;
    color: white;
    background-color: black;
    height: 40px;
    width: 160px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-color: rgb(166, 0, 0);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

body {
    margin-top: 200px;
}

#btnAdicao,
#btnSubtracao,
#btnMultiplicacao,
#btnDivisao {
    width: 45px;
    height: 50px;
    background-color: black;
    color: azure;
    gap: 20px;
    border-color: rgb(166, 0, 0);
    border-radius: 10px;
}

.result,
.resultado {
    font-size: 30px;
}

.resultado {
    color: rgb(0, 0, 0);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {

    #input1,
    #input2 {
        width: 100%;
        /* Ajusta a largura do input para ocupar 100% da tela em dispositivos menores */
        max-width: 150px;
        /* Define uma largura máxima para os inputs */
    }

    .input {
        flex-direction: column;
        /* Alinha os inputs verticalmente */
        gap: 10px;
        /* Reduz o espaço entre os elementos */
    }

    #btnAdicao,
    #btnSubtracao,
    #btnMultiplicacao,
    #btnDivisao {
        width: 50px;
        /* Ajusta a largura dos botões */
        height: 50px;
        /* Aumenta a altura dos botões */
    }

    .result,
    .resultado {
        font-size: 24px;
        /* Reduz o tamanho da fonte nas telas menores */
    }
}

@media (max-width: 480px) {

    #input1,
    #input2 {
        font-size: 18px;
        /* Reduz o tamanho da fonte nos inputs */
    }

    #btnAdicao,
    #btnSubtracao,
    #btnMultiplicacao,
    #btnDivisao {
        width: 50px;
        /* Ajusta a largura dos botões */
        height: 50px;
        /* Aumenta a altura dos botões */
        border-radius: 20px;
    }
}